@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #09090b; /* zinc-950 */
    color: #fafafa; /* zinc-50 */
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b; 
}
::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* zinc-700 */
}
